doctype html
html
  head
    style
      include style.css
    script.
      const whTooltips = { colorLinks: true, iconizeLinks: false, renameLinks: false }
    script(src='https://wow.zamimg.com/widgets/power.js')

  body
      h1 Sail bank
      ol#contents
        li.item
          a(href='https://www.classic.wowhead.com/item=19019')
            img(src='https://wow.zamimg.com/images/wow/icons/large/inv_sword_39.jpg')