html, body { 
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: white;

  font-family: Arial Narrow,Arial,sans-serif; 
}

div, ol, ul, li {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background: url("bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contents {
  position: relative;
  width: 373px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents .title {
  position: absolute;
  top: 16px;
  font-size: 14px;

  text-shadow: -1px 1px 2px #000;
}

.contents .crest {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 51px;
  height: auto;
}

.contents .item-grid {
  background-image: url("UI-BankFrame.PNG");
  background-origin: border-box;
  background-repeat: no-repeat;

  padding: 74.5px 0px 0px 41.5px;
  width: 355px;
  height: 343px;

  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.contents .item-grid .item {
  display: inline-block;
  position: relative;
  margin: 0px 12.7px 4px 0px;
}

.contents .item-grid .item .count-fg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  margin: 4px 6px 2.5px 6px;
  color: white;
}

.contents .item-grid .item .count-bg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  margin: 4px 6px 2.5px 6px;
  color: white;
  -webkit-text-stroke: 3px black;
}

.contents .item-list {
  margin-top: 2em;
  width: 100%;

  background: #1d1c1afa;
  padding: 10px;
  box-sizing: border-box;
  border: #BF6B2F solid 2px;
}

.contents .item-list .item {
  margin-top: 0.25em;
}

.contents .item-list .item .count {
  min-width: 5ex;
  display: inline-block;
  text-align: right;
  margin-right: 1ex;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

