html, body { 
  background: black;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: white;

  font-family: Arial Narrow,Arial,sans-serif; 
}

div, ol, ul {
  padding: 0;
  margin: 0;
  border: none;
}

li {
  list-style: none;
}

.contents {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.contents .item-grid {
  background: darkgray;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 20px;
}

.contents .item-grid .item {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.contents .item-grid .item .count-fg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 6px 4px 6px;
  color: white;
}

.contents .item-grid .item .count-bg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 6px 4px 6px;
  color: white;
  -webkit-text-stroke: 5px black;
}

.contents .item-list {
  margin-top: 2em;
}

.contents .item-list .item {
  margin-top: 0.25em;
}

.contents .item-list .item .count {
  margin-left: 1ex;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

